.badge {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.75rem;
  font-size: var(--size-xs, 0.75rem);
  color: var(--foreground);
  width: fit-content;
  border-radius: 24px;
  border: 1px solid #e5e5e5;
  background: var(--Backgrounds-Primary, #fff);
}

.badgeVerified {
  border: 1px solid #22a72f;
  background: rgba(34, 167, 47, 0.15);
  color: #000;
}

.badgeVerified .icon {
  filter: none;
  opacity: 1;
}

.badgeWarning {
  border: 1px solid #d34646;
  background: rgba(211, 70, 70, 0.15);
  color: #000;
}

.badgeWarning .icon {
  filter: none;
  opacity: 1;
}

.badgeInfo {
  border: 1px solid #5e87cf;
  background: rgba(94, 135, 207, 0.15);
  color: #000;
}

.badgeInfo .icon {
  filter: none;
  opacity: 1;
}

.icon {
  width: 0.75rem;
  height: 0.75rem;
  flex-shrink: 0;
}
